<footer class="footer bg-dark text-white py-3 px-0 px-sm-4 d-flex justify-content-sm-between flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center flex-wrap">
  <div></div>
  <div class="mb-3">
    <h5 class="mb-0">Devora Studio</h5>
  </div>

  <div >
    <h6 class="mb-3 text-center">Reporta cualquier problema</h6>
    <form (ngSubmit)="reportarProblema()" class="formulario" #form="ngForm">
      <div class="mb-2 w-75" >
        <input type="text" name="nombre" class="form-control form-control-sm" placeholder="Nombre" [(ngModel)]="nombre" required>
      </div>
      <div class="mb-2 w-75">
        <input type="email" name="correo" class="form-control form-control-sm" placeholder="Correo" [(ngModel)]="correo" required>
      </div>
      <div class="mb-2 w-75">
        <input type="text" name="asunto" class="form-control form-control-sm" placeholder="Asunto" [(ngModel)]="asunto" required>
      </div>
      <div class="mb-2 w-75">
        <textarea name="mensaje" class="form-control form-control-sm" rows="2" placeholder="Mensaje" [(ngModel)]="descripcion" required></textarea>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-outline-light btn-sm">Enviar</button>
      </div>
    </form>
  </div>
</footer>
